.page-container {
  position:relative;
}

.page-container .r6o-content-wrapper {
  position:absolute !important;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.page-container .textLayer {
  opacity:1;
}

.page-container.debug .textLayer span {
  color:red;
}

.page-container .textLayer span.r6o-annotation,
.page-container .textLayer span.r6o-selection {
  position:relative;
  cursor:pointer;
}