.page-container {
  position:relative;
}

.page-container > div {
  position:absolute !important;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.textLayer {
  opacity:1;
}

.page-container.debug .textLayer span {
  color:red;
}

.r6o-annotation {
  position:relative !important;
  cursor:pointer !important;
}